*{
    margin: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    list-style: none;
}

.row{
    margin: 0px;
}

/* Propiedades del header */

header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0px;
    background: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132, 0.61),rgb(233, 231, 234));
    height: 70px;
    width: 100vw;
    z-index: 1000;
}

nav{
    height: 90px;
    width: 100vw;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar__list{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0px;
}

.navbar__list__item{
    text-align: center;
    padding: 1px;
    width: 20%;
}


.navbar__list__item__link{
    text-decoration: none;
    color: darkslategray;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 0.7rem;
    height: 100%;
    width: 100%;
}

.logoHeader{
    width: 90px;
    height: 70px;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}


.logoHeader img{
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    object-fit: contain;
    opacity: 0.6;
}



                                                /* INICIO INDEX */



/* Propiedades del Main */

.container-fluid{
    padding: 0px;
}

.seccionprimera{
    background-image: url(../img/Lapiz.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 120px;
    align-content: flex-start;
}

.seccionprimera__divh1{
    align-self: flex-start;
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    color: rgba(194, 79, 44, 0.9);
    padding-top: 5vh;
}

.seccionprimera__divh1 h1{
    font-size: 2rem;
}

.seccionprimera__divh2{
    text-align: center;
    font-family:'Poppins', sans-serif;
}

.seccionprimera__divh2 p{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.6);
    margin: 0px;
    align-self: end;
}

.seccionprimera__divh2__p2{
    align-self: start !important;
}

/* aqui termina la seccion de los lapices */

.seccionsegunda{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-image: url(../img/fondo_index_segundaseccion.jpg);
    background-size: cover;
    border-top: 3px solid black;
}

.seccionsegunda__contenedor{
    background-color:rgb(233, 231, 234, 0.85);
    border: 3px solid black;
    width: 95%;
    height: 80%;
}

.seccionsegunda__contenedor__carrousel{
    display: inline-block;
    width: 100%;                 
    height: 50%;
    padding: 1%;
    padding-top: 5%;
}

.seccionsegunda__contenedor__carrousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccionsegunda__contenedor__textoImagen{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    padding: 5px;                           /* texto continuo a la imagen */
}

.seccionsegunda__contenedor__textoImagen p{
    display: inline;
    font-size: 0.9rem;
}

.seccionsegunda__contenedor__textoinferior{
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    font-size: 0.9rem;
}





                                             /* FIN PAGINA DE INDEX */




                                            /* INICIO PAGINA PEDIDOS */

.seccionprimera--pedidos{
    background-image: url(../img/Fondo_contacto.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.seccionprimera--pedidos__contenedor{
    background-color: rgb(250, 235, 215, 0.6);
    background-position: bottom;
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.seccionprimera--pedidos__contenedor__titulo{
    font-size: 15px;
    text-align: center;
}

.seccionprimera--pedidos__contenedor__form{
    grid-area: contenedor;
    justify-self: center;
    flex-direction: column;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100%;
}

.seccionprimera--pedidos__contenedor__form__formulario{
    justify-content: center;
    align-items: baseline;
    height: 60%;
    font-size: 00.8rem;
    border-top: 1px solid black;
}

.seccionprimera--pedidos__contenedor__form__parrafo{
    margin-top: 1%;
    height: 40%;
    padding: 5px;
    align-self: center;
    font-size: 0.8rem;
}

.leyend__formulario{
    padding: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.leyend__formulario legend{
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 12px;
}

.formulario{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label+input:focus{
    background-color: rgb(230, 175, 252);
}

label+textarea:focus{
    background-color: rgb(230, 175, 252);
}

.submit_boton{
    margin: 15px;
    color: black;
    background-color: rgb(230, 175, 252);
    font-family:'Sedgwick Ave', cursive;
}

.submit_boton:hover{
    background-color: rgb(209, 122, 212);
    transition-property: background-color;
    transition-duration: 0.3s;
}


                                            /* FIN DE PEDIDOS */

                                            /* INICIO CUSTOM ART */

.titulo__customart{
    margin-top: 100px;
    font-family: 'Sedgwick Ave', cursive;
    color: rgba(194, 79, 44, 0.9);
    padding: 7px;
    background-image: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132, 0.7),rgb(233, 231, 234));
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.main__customart{
    background-image: url(../img/Fondocustomart.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.carouselclasepropia{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132),rgb(233, 231, 234));
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}

.imagen-carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption{
    font-weight: 650;
    background-color: rgba(104, 73, 27, 0.6);
    border-radius: 60px;
    color: rgb(217, 179, 132);
}

.customart__textoinferior{
    height: 50vh;
    padding: 5px;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132),rgb(233, 231, 234));
    font-family:'Poppins', sans-serif;
    font-weight: 600;
}


                                            /* FIN DE CUSTOMART */

                                            /* INICIO NUESTRO EQUIPO */

.mainequipo{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.tituloequipo{
    font-size: 1.5rem;
    padding: 7px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    color: rgba(194, 79, 44, 0.9);
    border-radius: 20px;
    font-weight: 700;
    background-image: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132, 0.7),rgb(233, 231, 234));
}

.sectionequipo{
    padding-bottom: 50px;
    padding-top: 50px;
}

.sectionequipo__divtexto{
    text-align: center;
}

.sectionequipo__imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}




                                        /* FIN DE NUESTRO EQUIPO */

                                            /* INICIO GALERIA */



.sectiontitulogaleria{
    padding-top: 100px;
    height: 100vh;
    background-image: url(../img/Fondo_galeria.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.sectiontitulogaleria__img{
    opacity: 0.4;
}

.row{
    margin: 0px;
}

.sectiontitulogaleria__img img{
    width: 100%;
    height: 90%;
}

.sectiontitulogaleria__h1{
    font-family: 'Sedgwick Ave', cursive;
    color: rgba(194, 79, 44, 0.9);
    padding: 7px;
    background-image: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132, 0.7),rgb(233, 231, 234));
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
    justify-self: center;
    padding: 10px;
    text-align:center;
}

.sectiongaleria{
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 900px;
    border-top: 3px solid rgb(236, 253, 176);
    padding-top: 30px;
    padding-bottom: 30px;
}

.sectiongaleria__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sectiongaleria__imagenes__div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-item.active{
    display: flex;
}

.sectiongaleria__imagenes__item{
    height: 200px;
    width: 300px;
    border: 3px solid black;
}




/* Propiedades del footer */

footer{
    border-top: 3px solid rgb(6, 22, 3);
    background-color: rgb(11, 41, 11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.redesociales{
    align-self: flex-start;
    padding: 10px;
    margin: 5px;
}

.redesociales__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
}

.derechos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 0.7rem;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.derechos__a単o{
    margin-left: 120px;
}

.derechos__patente{
    margin-top: 10px;
}


@media (min-width: 480px) {

    /* HEADER */

    header{
        height: 80px;
    }

    nav{
        height: 80px;
    }

    .navbar{
        height: 80px;
    }

    .navbar__list__item{
        width: auto;
    }

    .logoHeader img{
        display: inline-block;
    }

   /* INDEX */

   .seccionprimera__divh1 h1{
    font-size: 2.5rem;
}

    /* INICIO SECCION DE CONTACTO */

    .seccionprimera--pedidos__contenedor__form__parrafo{
        font-size: 1rem;
    }

    .seccionprimera--pedidos__contenedor__form__formulario{
        align-content: center;
    }

    .leyend__formulario{
        margin: 0px;
        height: 100px;
    }

    .formulario{
        height: 60%;
        justify-content: stretch;
        align-items: stretch;
        font-family:'Sedgwick Ave', cursive;
    }


    /* CUSTOM ART */

    .carouselclasepropia{
        display: block;
        padding: 30px;
    }

    .customart__textoinferior{
        height: 50vh;
    }

    /* NUESTRO EQUIPO */

    .sectionequipo__divtexto__titulo{
        font-size: 1rem;
    }

    .sectionequipo__divtexto__texto{
        align-self: center;
        font-size: 1rem;
    }

    /* FOOTER */

    .derechos{
        display: grid;
        grid-template-areas: 
        ". patente patente ."
        "nombre . . a単o"
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        padding-bottom: 0px;
    }

    .derechos__a単o{
        grid-area: a単o;
        margin: 0px;
        text-align: center;
    }

    .derechos__patente{
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 15px;
        grid-area: patente;
        text-align: center;
        background-color: beige;
        font-size: larger;
    }

    .derechos__nombre{
        grid-area: nombre;
        text-align: center;
    }

    /* SECCION GALERIA */

}

@media (min-width: 600px) and (max-width: 767px){
    
    /* SECCION PEDIDOS */
    
    .seccionprimera--pedidos{
        padding-top: 20px;
    }

}

@media (min-width:768px) {

    /* HEADER */

    .navbar__list__item__link{
        font-size: 1.3rem;
    }

    /* INDEX */

    /* SECCION PRIMERA */

    .seccionprimera__divh1 h1{
        font-size: 3.5rem;
    }

    .seccionprimera{
        padding-top: 100px;
    }

    .seccionprimera__divh1{
        font-size: 3.5rem;
    }

    .seccionprimera__divh2{
        padding-top: 25pxd;
    }

    .seccionprimera__divh2 p{
        font-size: 1.5rem;
    }

    /* SECCION SEGUNDA */

    .seccionsegunda__contenedor__carrousel{             
        height: 80%;
    }
    
    .seccionsegunda__contenedor__textoImagen{
        display: inline-block;
        width: 100%;                           /* texto continuo a la imagen */
    }
    
    .seccionsegunda__contenedor__textoImagen p{
        font-size: 1rem;
    }
    
    .seccionsegunda__contenedor__textoinferior{
        font-size: 1rem;
    }

    /* CUSTOM ART */

    .customart__textoinferior{
        height: 30vh;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* SECCION GALERIA */



    .sectiontitulogaleria__h1{
        font-size: 35px;
    }

    .sectiontitulogaleria{
        grid-template-rows: 50vh 300px;
        grid-template-columns: 33vw 33vw 33vw;
    }

    .sectiontitulogaleria__img{
        height: 90%;
    }

    .sectiongaleria__imagenes__div{
        justify-content: center;
    }

    .sectiongaleria__imagenes__item:hover{
        transform: scale(1.5);
        transition-duration: 1s;
        transition-property: transform;
    }
}

@media (min-width:1024px) {
    /* HEADER */

    header{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .logoHeader{
        display: flex;
        height: 80px;
        margin: 0px;
        justify-self: end;
    }
    

    nav{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
    }
    
    .navbar__list{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    
    .navbar__list__item{
        text-align: center;
        padding: 3px;
    }
    
    
    .navbar__list__item__link{
        font-size: 1rem;
    }

    .navbar__list__item__link:hover{
        transition-duration: 0.3s;
        transition-property: color;
        color: rgb(217, 179, 132);
    }

    /* INDEX */

    /* PRIMERA SECCION */

    .seccionprimera__divh1 h1{
        font-size: 4.5rem;
    }

    .seccionprimera{
        background-size: 100% 100%;
    }

    /* SEGUNDA SECCION */
    
    .seccionsegunda__contenedor__carrousel{
        width: 40%;                 
        height: 85%;
        padding: 1%;
        padding-top: 1%;
    }
    
    .seccionsegunda__contenedor__textoImagen{
        display: inline-block;
        width: 50%;                         /* texto continuo a la imagen */
    }
    
    .seccionsegunda__contenedor__textoImagen p{
        display: inline;
        font-size: 1rem;
    }
    
    .seccionsegunda__contenedor__textoinferior{
        font-size: 1rem;
    }

    /* SECCION PEDIDOS */

    .seccionprimera--pedidos{
        height: 100%;
    }

    .seccionprimera--pedidos__contenedor{
        height: 80%;
    }
    
    .seccionprimera--pedidos__contenedor__titulo{
        justify-self: center;
        align-self: center;
        font-size: 1rem;
    }
    
    .seccionprimera--pedidos__contenedor__form{
        display: flex;
        flex-direction: row;
        width: 99%;
        height: 100%;
    }
    
    .seccionprimera--pedidos__contenedor__form__formulario{
        border-left: 2px solid black;
        border-top: none;
        padding-left: 10%;
        width: 70%;
        height: 100%;
    }
    
    .seccionprimera--pedidos__contenedor__form__parrafo{
        width: 30%;
        height: 50%;
        padding: 5px;
        align-self: center;
        font-size: 1rem;
    }
    
    .leyend__formulario{
        grid-area: legend;
        padding: 5px;
        height: 60px;
    }

    .leyend__formulario legend{
        font-size: 1rem;
    }

    .leyend__formulario p{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 1rem;
    }
    
    .formulario{
        padding: 5px;
        font-size: 1rem;
        grid-area: form;
    }

    /* CUSTOM ART */

    .titulo__customart{
        font-size: 35px;
    }

    .imagen-carousel{
        width: 80%;
        margin-left: 10%;
    }
    

    .carouselclasepropia{
        height: 100vh;
    }
    
    /* NUESTRO EQUIPO */
    
    .tituloequipo{
        padding: 10px;
        font-size: 2rem;
    }
    
    .sectionequipo{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* SECCION GALERIA */

    .sectiontitulogaleria{
        grid-template-rows: 20vh 70vh;
        grid-template-columns: 40vw 20vw 40vw;
    }

    .sectiongaleria{
        height: 85vh;
    }

}
