*{
    margin: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    list-style: none;
}

/* Propiedades del header */

header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0px;
    background: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132, 0.61),rgb(233, 231, 234));
    height: 70px;
    width: 100vw;
    z-index: 1000;
}

nav{
    height: 90px;
    width: 100vw;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar__list{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.navbar__list__item{
    text-align: center;
    padding: 1px;
    width: 20%;
}


.navbar__list__item__link{
    text-decoration: none;
    color: darkslategray;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 0.7rem;
    height: 100%;
    width: 100%;
}

.navbar__list__item__link:hover{
    color: rgb(217, 179, 132);
}

.navbar__list__item__link:focus{
    color: rgb(166,110,78)
}

.logoHeader{
    width: 90px;
    height: 70px;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}


.logoHeader img{
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    object-fit: contain;
    opacity: 0.6;
}



                                                /* INICIO INDEX */



/* Propiedades del Main */

.seccionprimera{
    background-image: url(../img/Lapiz.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 120px;
    display: grid;
    grid-template-areas:
    ". . h1 h1 h1 . ."
    ". . h2 h2 h2 h2 . "
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.seccionprimera__divh1{
    grid-area: h1;
    align-self: flex-start;
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.8rem;
    color: rgb(0, 0, 0, 0.6);
}

.seccionprimera__divh2{
    grid-area: h2;
    font-family:'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 10% 10%;
}

.seccionprimera__divh2__p2{
    margin-top: 25px;
}

.seccionprimera__divh2 p{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.6);
}


/* aqui termina la seccion de los lapices */

.seccionsegunda{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-image: url(../img/fondo_index_segundaseccion.jpg);
    background-size: cover;
    border-top: 3px solid black;
}

.seccionsegunda__contenedor{
    background-color:rgb(233, 231, 234, 0.85);
    border: 3px solid black;
    width: 95%;
    height: 80%;
}

.seccionsegunda__contenedor__carrousel{
    display: inline-block;
    width: 100%;                 
    height: 50%;
    padding: 1%;
    padding-top: 5%;
}

.seccionsegunda__contenedor__carrousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccionsegunda__contenedor__textoImagen{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    padding: 5px;                           /* texto continuo a la imagen */
}

.seccionsegunda__contenedor__textoImagen p{
    display: inline;
    font-size: 0.9rem;
}

.seccionsegunda__contenedor__textoinferior{
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    font-size: 0.9rem;
}





                                             /* FIN PAGINA DE INDEX */




                                            /* INICIO PAGINA PEDIDOS */

.seccionprimera--pedidos{
    background-image: url(../img/Fondo_contacto.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionprimera--pedidos__contenedor{
    background-color: rgb(250, 235, 215, 0.6);
    background-position: bottom;
    border: 2px solid black;
    margin-top: 60px;
    height: 85%;
    width: 95%;
    display: grid;
    grid-template-areas: 
    ". titulo titulo ."
    "contenedor contenedor contenedor contenedor"
    ;
    grid-template-rows: 15% 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.seccionprimera--pedidos__contenedor__titulo{
    grid-area: titulo;
    justify-self: center;
    align-self: center;
    font-size: 15px;
}

.seccionprimera--pedidos__contenedor__form{
    display: grid;
    grid-area: contenedor;
    justify-self: center;
    flex-direction: column;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100%;
}

.seccionprimera--pedidos__contenedor__form__formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    height: 90%;
    font-size: 00.8rem;
    border-top: 1px solid black;
}

.seccionprimera--pedidos__contenedor__form__parrafo{
    margin-top: 1%;
    padding: 5px;
    align-self: center;
    font-size: 0.8rem;
}

.leyend__formulario{
    padding: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.leyend__formulario legend{
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 12px;
}

.formulario{
    padding: 5px;
}



                                            /* FIN DE INDEX */

                                            /* INICIO CUSTOM ART */

.titulo__customart{
    margin-top: 100px;
}

.main__customart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectioncarrousel{
    height: 80vh;
    width: 100vw;
    margin-bottom: 5vh;
}


.sectioncarrousel__imagen{
    height: 60%;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20px;
    margin-bottom: 5vh;
}

.sectioncarrousel__imagen img{
    height: 100%;
    width: 100%;
}

.sectioncarrousel__texto{
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.8rem;
    text-align: center;
}

.customart__textoinferior{
    height: 50vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5px;
    font-size: 0.8rem;
    border-top: 3px solid rgb(217, 179, 132);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


                                            /* FIN DE CUSTOMART */

                                            /* INICIO NUESTRO EQUIPO */

.mainequipo{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloequipo{
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.sectionequipo{
    display: flex;
    flex-direction: column-reverse;
}

.sectionequipo__divtexto{
    display: grid;
    grid-template-rows: 15% 85%;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 450px;
    font-size: 0.9rem;
}

.sectionequipo__imagen{
    height: 80vh;
    width: 100vw;
}

.sectionequipo__imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}




                                        /* FIN DE NUESTRO EQUIPO */

                                            /* INICIO GALERIA */



.sectiontitulogaleria{
    padding-top: 100px;
    background-image: url(../img/Fondo_galeria.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
    ". titulo ."
    "logo . ."
    ;
    grid-template-rows: 62vh 100px;
    grid-template-columns: 33vw 33vw 33vw;
}

.sectiontitulogaleria__img{
    grid-area: logo;
    opacity: 0.4;
    height: 100px;
    width:100px
}

.sectiontitulogaleria__img img{
    width: 100%;
    height: 100%;
}

.sectiontitulogaleria__h1{
    margin-left: 20px;
    grid-area: titulo;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(199, 199, 199, 0.041);
    font-weight: 700;
    justify-self: center;
    padding: 10px;
    text-align:center;
}

.sectiongaleria{
    display: flex;
    align-items: center;
    height: 800px;
    border-top: 3px solid rgb(236, 253, 176);
}

.sectiongaleria__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.sectiongaleria__imagenes__uno{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sectiongaleria__imagenes__uno__item{
    height: 200px;
    width: 300px;
    border: 3px solid black;
}




/* Propiedades del footer */

footer{
    border-top: 3px solid rgb(6, 22, 3);
    background-color: rgb(11, 41, 11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.redesociales{
    align-self: flex-start;
    padding: 10px;
    margin: 5px;
}

.redesociales__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
}

.derechos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 0.7rem;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.derechos__a単o{
    margin-left: 120px;
}

.derechos__patente{
    margin-top: 10px;
}


@media (min-width: 480px) {

    /* HEADER */

    header{
        height: 80px;
    }

    nav{
        height: 80px;
    }

    .navbar{
        height: 80px;
    }

    .navbar__list__item{
        width: auto;
    }

    .logoHeader{
        display: flex;
    }

    .logoHeader img{
        display: inline-block;
    }

    /* INICIO SECCION DE CONTACTO */

    .seccionprimera--pedidos__contenedor__form__formulario{
        justify-content: space-between;
    }

    .leyend__formulario{
        margin: 0px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .formulario{
        height: 60%;
    }

    /* CUSTOM ART */

    .sectioncarrousel__texto{
        font-size: 0.9rem;
    }

    .customart__textoinferior{
        height: 50vh;
        font-size: 0.9rem;
    }

    /* NUESTRO EQUIPO */

    .sectionequipo__divtexto{
        grid-template-rows: 5% 95%;
    }

    .sectionequipo__divtexto__titulo{
        padding-top: 60px;
        font-size: 1rem;
    }

    .sectionequipo__divtexto__texto{
        align-self: center;
        font-size: 1rem;
    }

    /* FOOTER */

    .derechos{
        display: grid;
        grid-template-areas: 
        ". patente patente ."
        "nombre . . a単o"
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        padding-bottom: 0px;
    }

    .derechos__a単o{
        grid-area: a単o;
        margin: 0px;
        text-align: center;
    }

    .derechos__patente{
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 15px;
        grid-area: patente;
        text-align: center;
        background-color: beige;
        font-size: larger;
    }

    .derechos__nombre{
        grid-area: nombre;
        text-align: center;
    }

    /* SECCION GALERIA */

    .sectiongaleria__imagenes__uno__item{
        width: 350px;
    }
}

@media (min-width: 600px) and (max-width: 767px){
    
    /* SECCION PEDIDOS */
    
    .seccionprimera--pedidos{
        padding-top: 20px;
    }

    /* CUSTOM ART */

    .sectioncarrousel__texto{
        font-size: 0.9rem;
    }

    .customart__textoinferior{
        height: 55vh;
        font-size: 1rem;
    }

}

@media (min-width:768px) {

    /* HEADER */

    .navbar__list__item__link{
        font-size: 1.3rem;
    }

    /* INDEX */

    /* SECCION PRIMERA */

    .seccionprimera{
        padding-top: 100px;
    }

    .seccionprimera{
        grid-template-areas:
        ". . h1 h1 h1 . ."
        ". . h2 h2 h2 h2 h2 "
        ;
    }

    .seccionprimera__divh1{
        font-size: 3.5rem;
    }

    .seccionprimera__divh2{
        padding-top: 25pxd;
    }

    .seccionprimera__divh2 p{
        font-size: 1.5rem;
    }

    /* SECCION SEGUNDA */

    .seccionsegunda__contenedor__carrousel{             
        height: 80%;

    }
    
    .seccionsegunda__contenedor__textoImagen{
        display: inline-block;
        width: 100%;                           /* texto continuo a la imagen */
    }
    
    .seccionsegunda__contenedor__textoImagen p{
        font-size: 1rem;
    }
    
    .seccionsegunda__contenedor__textoinferior{
        font-size: 1rem;
    }

    /* CUSTOM ART */

    .sectioncarrousel{
        padding-top: 50px;
        height: 70vh;
    }

    .sectioncarrousel__texto{
        font-size: 1rem;
    }

    .customart__textoinferior{
        height: 30vh;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* SECCION GALERIA */

    .sectiontitulogaleria__h1{
        font-size: 50px;
    }

    .sectiontitulogaleria{
        grid-template-rows: 50vh 300px;
        grid-template-columns: 33vw 33vw 33vw;
    }

    .sectiontitulogaleria__img{
        height: 300px;
        width: 300px
    }
}

@media (min-width:1024px) {
    /* HEADER */

    header{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .logoHeader{
        height: 80px;
        margin: 0px;
        justify-self: end;
    }
    

    nav{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
    }
    
    .navbar__list{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    
    .navbar__list__item{
        text-align: center;
        padding: 3px;
    }
    
    
    .navbar__list__item__link{
        font-size: 1rem;
    }

    /* INDEX */

    /* PRIMERA SECCION */

    .seccionprimera{
        background-size: 100% 100%;
    }

    /* SEGUNDA SECCION */
    
    .seccionsegunda__contenedor__carrousel{
        width: 40%;                 
        height: 85%;
        padding: 1%;
        padding-top: 1%;
    }
    
    .seccionsegunda__contenedor__textoImagen{
        display: inline-block;
        width: 50%;                         /* texto continuo a la imagen */
    }
    
    .seccionsegunda__contenedor__textoImagen p{
        display: inline;
        font-size: 1rem;
    }
    
    .seccionsegunda__contenedor__textoinferior{
        font-size: 1rem;
    }

    /* SECCION PEDIDOS */

    .seccionprimera--pedidos__contenedor{
        height: 80%;
        grid-template-areas: 
        "titulo . . ."
        "contenedor contenedor contenedor contenedor"
        ;
    }
    
    .seccionprimera--pedidos__contenedor__titulo{
        grid-area: titulo;
        justify-self: center;
        align-self: center;
        font-size: 1rem;
    }
    
    .seccionprimera--pedidos__contenedor__form{
        display: flex;
        flex-direction: row;
        grid-area: contenedor;
        justify-self: right;
        align-self: center;
        justify-content: flex-start;
        width: 99%;
        height: 100%;
    }
    
    .seccionprimera--pedidos__contenedor__form__formulario{
        justify-content: center;
        display: grid;
        grid-template-areas: 
        "."
        "."
        "legend"
        "form"
        "."
        "."
        ;
        border-left: 2px solid black;
        border-top: none;
        padding-left: 10%;
        width: 70%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .seccionprimera--pedidos__contenedor__form__parrafo{
        width: 30%;
        height: 50%;
        padding: 5px;
        align-self: center;
        font-size: 1rem;
    }
    
    .leyend__formulario{
        grid-area: legend;
        padding: 5px;
        height: 60px;
    }

    .leyend__formulario legend{
        font-size: 1rem;
    }

    .leyend__formulario p{
        padding: 10px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 1rem;
    }
    
    .formulario{
        padding: 5px;
        font-size: 1rem;
        grid-area: form;
    }
    
    /* NUESTRO EQUIPO */
    
    .tituloequipo{
        padding: 10px;
        font-size: 2rem;
    }
    
    .sectionequipo{
        display: flex;
        flex-direction: row;
    }
    
    .sectionequipo__imagen{
        height: 80vh;
        width: 40vw;
    }

    .sectionequipo__imagen img{
        height: 90%;
    }

    .sectionequipo__divtexto{
        width: 50vw;
        height: 80vh;
    }    

    /* SECCION GALERIA */

    .sectiontitulogaleria{
        grid-template-rows: 20vh 70vh;
        grid-template-columns: 40vw 20vw 40vw;
    }
    
    .sectiontitulogaleria__img{
        height: 100%;
        width: 100%;
    }

    .sectiongaleria__img img{
        width: 100%;
        height: 100%;
    }

    .sectiongaleria{
        height: 70vh;
    }

    .sectiongaleria__imagenes__uno{
        flex-direction: row;
    }
    
    .sectiongaleria__imagenes__uno__item:hover{
        height: 400px;
        width: 700px
    }
}