@charset "UTF-8";
/*general*/
/*colores*/
/* index */
/* colores */
/* equipo */
/* colores */
/* custom art */
/* colores */
/*contacto*/
/*colores*/
/*galeria*/
/*colores*/
* {
  margin: 0px;
  padding-left: 0px;
  box-sizing: border-box;
  list-style: none;
}

.row {
  margin: 0px;
}

.container-fluid {
  padding: 0px;
}

.sectiontitulogaleria__h1, .mainequipo .tituloequipo, .main__customart .titulo__customart, .seccionprimera--pedidos__contenedor__titulo {
  font-family: "Sedgwick Ave";
  color: rgba(194, 79, 44, 0.9);
  padding: 10px;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 1.875rem;
}

footer {
  border-top: 2px solid black;
  background-color: rgba(104, 73, 27, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
footer .redesociales {
  align-self: flex-start;
  margin: 5px;
  font-size: 0.8rem;
}
@media (min-width: 480px) {
  footer .redesociales {
    font-size: 1rem;
  }
}
footer .redesociales__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  font-family: "Poppins";
}
footer .redesociales__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
footer .redesociales__list li a {
  text-decoration: none;
  color: black;
}
footer .redesociales__list li a :hover {
  color: rgba(194, 79, 44, 0.9);
  transition-property: color;
  transition-duration: 0.3s;
}
footer .redesociales__list li a i {
  text-align: center;
  padding-right: 5px;
}
footer .redesociales__list li a p {
  margin: 0px;
  padding-top: 5px;
}
footer .derechos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 0.7rem;
  width: 100%;
  padding: 10px;
  margin: 5px;
}
@media (min-width: 480px) {
  footer .derechos {
    display: grid;
    grid-template-areas: ". patente patente ." "nombre . . año";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding-bottom: 0px;
  }
}
footer .derechos__año {
  margin-left: 120px;
  font-family: "Poppins";
}
@media (min-width: 480px) {
  footer .derechos__año {
    grid-area: año;
    margin: 0px;
    text-align: center;
  }
}
footer .derechos__patente {
  margin-top: 10px;
  font-size: 0.6rem;
}
footer .derechos__patente p {
  margin: 0px;
  font-family: "Sedgwick Ave";
  font-weight: 600;
  letter-spacing: 0.05rem;
}
@media (min-width: 480px) {
  footer .derechos__patente {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 15px;
    grid-area: patente;
    text-align: center;
    background-color: rgba(104, 73, 27, 0.7);
    font-size: larger;
  }
}
footer .derechos__nombre {
  font-family: "Poppins";
}
@media (min-width: 480px) {
  footer .derechos__nombre {
    grid-area: nombre;
    text-align: center;
  }
}

header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0px;
  background: conic-gradient(from 1.571rad at 100% 0%, rgba(217, 179, 132, 0.7), rgb(233, 231, 234));
  height: 70px;
  width: 100vw;
  z-index: 1000;
}
@media (min-width: 480px) {
  header {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
header .logoHeader {
  width: 90px;
  height: 70px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}
@media (min-width: 1024px) {
  header .logoHeader {
    display: flex;
    height: 80px;
    margin: 0px;
    justify-self: end;
  }
}
header .logoHeader img {
  display: none;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  object-fit: contain;
  opacity: 0.6;
}
@media (min-width: 480px) {
  header .logoHeader img {
    display: inline-block;
  }
}
header nav {
  height: 90px;
  width: 100vw;
}
@media (min-width: 480px) {
  header nav {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  header nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
header nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (min-width: 480px) {
  header nav .navbar {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  header nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
  }
}
header nav .navbar__list {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0px;
}
@media (min-width: 1024px) {
  header nav .navbar__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
}
header nav .navbar__list__item {
  text-align: center;
  padding: 1px;
  width: 20%;
}
@media (min-width: 480px) {
  header nav .navbar__list__item {
    width: auto;
  }
}
@media (min-width: 1024px) {
  header nav .navbar__list__item {
    text-align: center;
    padding: 3px;
  }
}
header nav .navbar__list__item__link {
  text-decoration: none;
  color: darkslategray;
  font-family: "Edu NSW ACT Foundation";
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  header nav .navbar__list__item__link {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  header nav .navbar__list__item__link {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  header nav .navbar__list__item__link:hover {
    transition-duration: 0.3s;
    transition-property: color;
    color: rgb(217, 179, 132);
  }
}

.seccionprimera--pedidos {
  background-image: url(../img/Fondo_contacto.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 170vh;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 600px) and (max-width: 767px) {
  .seccionprimera--pedidos {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos {
    height: 100%;
  }
}
.seccionprimera--pedidos__contenedor {
  background-color: rgba(250, 235, 215, 0.6);
  background-position: bottom;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor {
    height: 80%;
  }
}
@media (min-width: 480px) {
  .seccionprimera--pedidos__contenedor {
    height: auto;
  }
}
@media (min-width: 768px) {
  .seccionprimera--pedidos__contenedor {
    height: 100%;
  }
}
.seccionprimera--pedidos__contenedor__titulo {
  overflow: hidden;
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__titulo {
    justify-self: center;
    align-self: center;
    font-size: 1rem;
  }
}
.seccionprimera--pedidos__contenedor__form {
  grid-area: contenedor;
  justify-self: center;
  flex-direction: column;
  grid-template-rows: 1fr 5fr;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
  }
}
.seccionprimera--pedidos__contenedor__form__formulario {
  justify-content: center;
  align-items: baseline;
  height: 60%;
  font-size: 0.8rem;
  border-top: 1px solid black;
}
@media (min-width: 480px) {
  .seccionprimera--pedidos__contenedor__form__formulario {
    align-content: center;
  }
}
@media (min-width: 768px) {
  .seccionprimera--pedidos__contenedor__form__formulario {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form__formulario {
    border-left: 2px solid black;
    border-top: none;
    padding-left: 10%;
    width: 70%;
    height: 100%;
  }
}
.seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario {
  padding: 5px;
  height: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  .seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario {
    margin: 0px;
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario {
    grid-area: legend;
    padding: 5px;
    height: 60px;
  }
}
.seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario p {
  font-family: "Poppins";
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario p {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1rem;
  }
}
.seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario legend {
  margin-bottom: 3px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Poppins";
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form__formulario .leyend__formulario legend {
    font-size: 1rem;
    font-weight: 900;
  }
}
.seccionprimera--pedidos__contenedor__form__formulario .formulario {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 480px) {
  .seccionprimera--pedidos__contenedor__form__formulario .formulario {
    height: 60%;
    justify-content: stretch;
    align-items: stretch;
    font-family: "Poppins";
  }
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form__formulario .formulario {
    padding: 5px;
    font-size: 1rem;
    grid-area: form;
  }
}
.seccionprimera--pedidos__contenedor__form__formulario .formulario label + input:focus {
  background-color: rgb(230, 175, 252);
}
.seccionprimera--pedidos__contenedor__form__formulario .formulario label + textarea:focus {
  background-color: rgb(230, 175, 252);
}
.seccionprimera--pedidos__contenedor__form__formulario .formulario .submit_boton {
  margin: 15px;
  color: black;
  background-color: rgb(230, 175, 252);
  font-family: "Poppins";
}
.seccionprimera--pedidos__contenedor__form__formulario .formulario .submit_boton:hover {
  background-color: rgb(209, 122, 212);
  transition-property: background-color;
  transition-duration: 0.3s;
}
.seccionprimera--pedidos__contenedor__form__parrafo {
  margin-top: 1%;
  height: 33%;
  padding: 5px;
  align-self: center;
  font-size: 0.8rem;
  font-family: "Poppins";
}
@media (min-width: 480px) {
  .seccionprimera--pedidos__contenedor__form__parrafo {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .seccionprimera--pedidos__contenedor__form__parrafo {
    height: 25%;
  }
}
@media (min-width: 1024px) {
  .seccionprimera--pedidos__contenedor__form__parrafo {
    width: 30%;
    height: 50%;
    padding: 5px;
    align-self: center;
    font-size: 1rem;
  }
}

.main__customart {
  background-image: url(../img/Fondocustomart.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.main__customart .titulo__customart {
  margin-top: 100px;
  background-image: conic-gradient(from 1.571rad at 100% 0%, rgb(217, 179, 132), rgb(233, 231, 234));
  border-radius: 20px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .main__customart .titulo__customart {
    font-size: 35px;
  }
}
.main__customart .carouselclasepropia {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: conic-gradient(from 1.571rad at 100% 0%, rgb(217, 179, 132), rgb(233, 231, 234));
}
@media (min-width: 480px) {
  .main__customart .carouselclasepropia {
    display: block;
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .main__customart .carouselclasepropia {
    height: 100vh;
  }
}
.main__customart .carouselclasepropia .carousel {
  width: 100%;
  height: 100%;
}
.main__customart .carouselclasepropia .carousel-inner {
  width: 100%;
  height: 100%;
}
.main__customart .carouselclasepropia .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
.main__customart .carouselclasepropia .carousel-inner .carousel-item .imagen-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .main__customart .carouselclasepropia .carousel-inner .carousel-item .imagen-carousel {
    width: 80%;
    margin-left: 10%;
  }
}
.main__customart .carouselclasepropia .carousel-inner .carousel-item .carousel-caption {
  font-weight: 650;
  background-color: rgba(104, 73, 27, 0.7);
  border-radius: 60px;
  color: rgb(217, 179, 132);
}
.main__customart .customart__textoinferior {
  height: 50vh;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: conic-gradient(from 1.571rad at 100% 0%, rgb(217, 179, 132), rgb(233, 231, 234));
  font-family: "Poppins";
  font-weight: 600;
}
@media (min-width: 480px) {
  .main__customart .customart__textoinferior {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .main__customart .customart__textoinferior {
    height: 30vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mainequipo {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  background-image: url(../../img/fondo-equipo.jpg);
  background-size: cover;
}
.mainequipo .tituloequipo {
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 700;
  background-image: conic-gradient(from 1.571rad at 100% 0%, rgb(217, 179, 132), rgb(233, 231, 234));
}
@media (min-width: 1024px) {
  .mainequipo .tituloequipo {
    padding: 10px;
    font-size: 2rem;
  }
}
.mainequipo .sectionequipo {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgba(233, 231, 234, 0.85);
  border: 2px black solid;
  border-radius: 10px;
  height: 140vh;
}
@media (min-width: 1024px) {
  .mainequipo .sectionequipo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }
}
.mainequipo .sectionequipo__divtexto {
  text-align: center;
}
.mainequipo .sectionequipo__divtexto__titulo {
  font-family: "Poppins";
}
@media (min-width: 480px) {
  .mainequipo .sectionequipo__divtexto__titulo {
    font-size: 1rem;
  }
}
.mainequipo .sectionequipo__divtexto__texto {
  font-family: "Poppins";
}
@media (min-width: 480px) {
  .mainequipo .sectionequipo__divtexto__texto {
    align-self: center;
    font-size: 1rem;
  }
}
.mainequipo .sectionequipo__carousel {
  height: 400px;
}
.mainequipo .sectionequipo__carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.sectiontitulogaleria {
  padding-top: 100px;
  height: 100vh;
  background-image: url(../img/Fondo_galeria.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
@media (min-width: 480px) {
  .sectiontitulogaleria {
    height: 90vh;
  }
}
@media (min-width: 1024px) {
  .sectiontitulogaleria {
    height: 110vh;
  }
}
.sectiontitulogaleria__img {
  opacity: 0.4;
}
@media (min-width: 480px) {
  .sectiontitulogaleria__img {
    height: 80%;
  }
}
@media (min-width: 768px) {
  .sectiontitulogaleria__img {
    height: 90%;
  }
}
.sectiontitulogaleria__img img {
  width: 100%;
  height: 90%;
}
.sectiontitulogaleria__h1 {
  background-image: conic-gradient(from 1.571rad at 100% 0%, rgb(217, 179, 132), rgb(233, 231, 234));
  border-radius: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .sectiontitulogaleria__h1 {
    font-size: 35px;
  }
}

.sectiongaleria {
  background-image: url(../img/fondofotosgaleria.jpg);
  display: flex;
  align-items: center;
  height: 900px;
  border-top: 3px solid rgb(236, 253, 176);
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .sectiongaleria {
    height: 120vh;
  }
}
@media (min-width: 1024px) {
  .sectiongaleria {
    height: 130vh;
  }
}
@media (min-width: 1300px) {
  .sectiongaleria {
    height: 150vh;
  }
}
@media (min-width: 1024px) {
  .sectiongaleria .carousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .sectiongaleria .carousel-inner {
    height: 90%;
  }
}
.sectiongaleria .carousel .sectiongaleria__imagenes__div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div {
    height: 100%;
  }
}
.sectiongaleria .carousel .sectiongaleria__imagenes__div__item {
  height: 200px;
  width: 300px;
  border: 3px solid rgb(236, 253, 176);
}
@media (min-width: 768px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div__item:hover {
    transform: scale(1.4);
    transition-duration: 1s;
    transition-property: transform;
  }
}
@media (min-width: 1024px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div__item:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div__item {
    width: 40%;
    height: 200px;
    margin: 5px;
  }
}
@media (min-width: 1024px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div__item {
    height: 250px;
    width: 450px;
    margin: 5px;
  }
}
@media (min-width: 1300px) {
  .sectiongaleria .carousel .sectiongaleria__imagenes__div__item {
    height: 350px;
    width: 550px;
    margin: 10px;
  }
}
.sectiongaleria .carousel-item.active {
  display: flex;
}

.seccionprimera {
  background-image: url(../img/Lapiz.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 120px;
  align-content: flex-start;
}
@media (min-width: 768px) {
  .seccionprimera {
    padding-top: 100px;
  }
}
@media (min-width: 1024px) {
  .seccionprimera {
    background-size: 100% 100%;
  }
}
.seccionprimera__divh1 {
  align-self: flex-start;
  text-align: center;
  font-family: "Sedgwick Ave";
  color: rgba(194, 79, 44, 0.9);
  padding-top: 5vh;
}
@media (min-width: 768px) {
  .seccionprimera__divh1 {
    font-size: 3.5rem;
  }
}
.seccionprimera__divh1 h1 {
  font-size: 2rem;
}
@media (min-width: 480px) {
  .seccionprimera__divh1 h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .seccionprimera__divh1 h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .seccionprimera__divh1 h1 {
    font-size: 4.5rem;
  }
}
.seccionprimera__divh2 {
  text-align: center;
  font-family: "Poppins";
}
@media (min-width: 768px) {
  .seccionprimera__divh2 {
    padding-top: 25pxd;
  }
}
.seccionprimera__divh2 p {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px;
  align-self: end;
}
@media (min-width: 768px) {
  .seccionprimera__divh2 p {
    font-size: 1.5rem;
  }
}
.seccionprimera__divh2__p2 {
  align-self: start !important;
}

/* aqui termina la seccion de los lapices */
.seccionsegunda {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-image: url(../img/fondo_index_segundaseccion.jpg);
  background-size: cover;
  border-top: 3px solid black;
}
@media (min-width: 480px) {
  .seccionsegunda {
    height: fit-content;
  }
}
.seccionsegunda__contenedor {
  background-color: rgba(233, 231, 234, 0.85);
  border: 3px solid black;
  width: 95%;
  height: 80%;
  margin: 15px;
}
@media (min-width: 768px) {
  .seccionsegunda__contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.seccionsegunda__contenedor__carrousel {
  display: inline-block;
  width: 100%;
  height: 50%;
  padding: 1%;
  padding-top: 5%;
}
@media (min-width: 768px) {
  .seccionsegunda__contenedor__carrousel {
    width: 40%;
    height: 90%;
    padding: 1%;
    padding-top: 1%;
  }
}
.seccionsegunda__contenedor__carrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: baseline;
}
.seccionsegunda__contenedor__textoImagen {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  font-family: "Poppins";
}
@media (min-width: 768px) {
  .seccionsegunda__contenedor__textoImagen {
    display: inline-block;
    width: 50%;
    align-self: flex-start;
  }
}
.seccionsegunda__contenedor__textoImagen h2 {
  font-family: "Poppins";
  font-size: 1rem;
  text-align: center;
  background-image: conic-gradient(from 1.571rad at 100% 0%, rgb(217, 179, 132), rgb(233, 231, 234));
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .seccionsegunda__contenedor__textoImagen h2 {
    font-size: 1.3rem;
  }
}
.seccionsegunda__contenedor__textoImagen p {
  font-weight: 600;
  width: 100%;
  font-size: 0.8rem;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .seccionsegunda__contenedor__textoImagen p {
    font-size: 1rem;
  }
}
.seccionsegunda__textoinferior {
  text-align: center;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
  font-size: 0.5rem;
}
.seccionsegunda__textoinferior p {
  background-color: rgba(194, 79, 44, 0.9);
  font-weight: 500;
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Poppins";
}
@media (min-width: 768px) {
  .seccionsegunda__textoinferior p {
    border: 4px solid black;
    border-radius: 20;
  }
}
@media (min-width: 480px) {
  .seccionsegunda__textoinferior {
    font-size: 0.6;
  }
}
@media (min-width: 768px) {
  .seccionsegunda__textoinferior {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
