footer{
    border-top: 2px solid black;
    background-color: rgba(104, 73, 27, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    .redesociales{
        align-self: flex-start;
        margin: 5px;
        font-size: 0.8rem;
        @include phonelg {
            font-size: 1rem;
        }
        &__list{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            list-style: none;
            font-family: map-get($tipografias, "texto" );
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                a{
                    text-decoration: none;
                    color: black;
                    :hover{
                        color: $colorh1;
                        transition-property: color;
                        transition-duration: 0.3s;
                    }
                    i{
                        text-align: center;
                        padding-right: 5px;
                    }
                    p{
                        margin: 0px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    .derechos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        font-size: 0.7rem;
        width: 100%;
        padding: 10px;
        margin: 5px;
        @include phonelg {
            display: grid;
            grid-template-areas: 
            ". patente patente ."
            "nombre . . año"
            ;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.5fr 1fr;
            padding-bottom: 0px;
        }
        &__año{
            margin-left: 120px;
            font-family: map-get($tipografias, "texto" );
            @include phonelg {
                grid-area: año;
                margin: 0px;
                text-align: center;
            }
        }
        &__patente{
            margin-top: 10px;
            font-size: 0.6rem;
            p{
                margin: 0px;
                font-family: map-get($tipografias, "titulos" );
                font-weight: 600;
                letter-spacing: 0.05rem;
            }
            @include phonelg {
                border-top: 1px solid black;
                border-left: 1px solid black;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                border-radius: 15px;
                grid-area: patente;
                text-align: center;
                background-color: $color-carteles;
                font-size: larger;
            }
        }
        &__nombre{
            font-family: map-get($tipografias, "texto");
            @include phonelg {
                grid-area: nombre;
                text-align: center;
            }
        }
    }
}

