header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0px;
    background: $background-header;
    height: 70px;
    width: 100vw;
    z-index: 1000;
    @include phonelg {
        height: 80px;
    }
    @include tabletlg {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .logoHeader{
        width: 90px;
        height: 70px;
        margin-right: 30px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: none;
        @include tabletlg {
            display: flex;
            height: 80px;
            margin: 0px;
            justify-self: end;
        }
        img{
            display: none;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            height: 80%;
            margin-top: 5%;
            margin-bottom: 5%;
            object-fit: contain;
            opacity: 0.6;
            @include phonelg {
                display: inline-block;
            }
        }
    }

    nav{
        height: 90px;
        width: 100vw;
        @include phonelg {
            height: 80px;
        }
        @include tabletlg{
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .navbar{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            @include phonelg {
                height: 80px;
            }
            @include tabletlg{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 50%;
            }
            &__list{
                display: flex;
                width: 100vw;
                align-items: center;
                justify-content: space-evenly;
                padding-left: 0px;
                @include tabletlg {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-around;
                }
                &__item{
                    text-align: center;
                    padding: 1px;
                    width: 20%;
                    @include phonelg {
                        width: auto;
                    }
                    @include tabletlg {
                        text-align: center;
                        padding: 3px;
                    }
                    &__link{
                        text-decoration: none;
                        color: darkslategray;
                        font-family: 'Edu NSW ACT Foundation', cursive;
                        font-size: 0.7rem;
                        height: 100%;
                        width: 100%;
                        @include tabletsm {
                            font-size: 1rem
                        };
                        @include tabletlg {
                            font-size: 1rem;
                        }
                        &:hover{
                            @include tabletlg{
                                transition-duration: 0.3s;
                                transition-property: color;
                                color: rgb(217, 179, 132);
                            }
                        }
                    }
                }
            }

        }
    }
}