.mainequipo{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    background-image: url(../../img/fondo-equipo.jpg);
    background-size: cover;
    .tituloequipo{
        @extend %title;
        margin-bottom: 20px;
        border-radius: 20px;
        font-weight: 700;
        background-image: $background-titulos;
        @include tabletlg {
            padding: 10px;
            font-size: 2rem;
        }
    }
    .sectionequipo{
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: $color-contenedor-index;
        border: 2px black solid;
        border-radius: 10px;
        height: 140vh;
        @include tabletlg {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: auto;
        }
        &__divtexto{
            text-align: center;
            &__titulo{
                font-family: map-get($tipografias, "texto" );
                @include phonelg {
                    font-size: 1rem;
                }
            }
            &__texto{
                font-family: map-get($tipografias, "texto" );
                    a{
                        text-decoration: none;
                        color: $colorh1;
                        &:hover{
                            color: $color-submit-btn-hover;
                            transition-property: color;
                            transition-duration: 0.3s;
                        }
                    }
                    
                @include phonelg {
                    align-self: center;
                    font-size: 1rem;
                }
            }
        }
        &__carousel{
            height: 400px;
            .carousel-inner{
                .carousel-item{
                    img{
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                    }
                }
            }
        }
    }
}






