%title {
    font-family: map-get($tipografias, "titulos" );
    color: $colorh1;
    padding: 10px;
    text-align:center;
    justify-self: center;
    align-self: center;
    font-size: 1.875rem;
}