

/*general*/

        /*colores*/

$colorh1: rgba(194, 79, 44, 0.9);
$background-header: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132, 0.7),rgb(233, 231, 234));
$background-titulos: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132,),rgb(233, 231, 234));

/* index */

        /* colores */
$color-contenedor-index:rgb(233, 231, 234, 0.85);
$color-carteles:rgba(104, 73, 27, 0.7);

/* equipo */

        /* colores */

/* custom art */

        /* colores */
$color-background-customart: conic-gradient(from 1.571rad at 100% 00%,rgba(217, 179, 132),rgb(233, 231, 234));

/*contacto*/

        /*colores*/

$color-focus-contacto: rgb(230, 175, 252);
$color-submit-btn-hover:rgb(209, 122, 212);
$background-contacto:rgb(250, 235, 215, 0.6);

/*galeria*/

        /*colores*/

$color-bordes-galeria: rgb(236, 253, 176);

